<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Content -->
    <div class="container mt-5">

      <!-- home.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title text-center mb-2">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <div class="container"><div class="row text-big">
            {% for author in page.authors %}
              <div class="col-6 col-md-4">{{ author.name }}<sup>{{ author.affiliation }}</sup></div>
            {% endfor %}
          </div></div>
          <div class="container"><div class="row">
            {% for affiliation in page.affiliations %}
              <div class="col-12"><sup>{{ affiliation.idx }}</sup>{{ affiliation.name }}</sup></div>
            {% endfor %}
          </div></div>
          <div class="container"><div class="row">
            {% for link in page.links %}
              <a class="m-2" href="{{ link.url }}" {% if link.newtab %}target="_blank"{% endif %}>{{ link.text }}</a>
            {% endfor %}
          </div></div>
          {% if page.subtitle %}
          <p class="desc p-2 mb-3">{{ page.subtitle }}</p>
          {% endif %}
        </header>

        <article>

          <div class="container">
            {%- assign main_image_path = page.main_image.path | prepend: 'assets/img/' -%}
            {% include figure.html
              path=main_image_path
              class="figure-img img-fluid rounded"
              alt=page.main_image.caption
              caption=page.main_image.caption %}
          </div>

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>

          </div>
          {%- endif %}
        </article>

      </div>

    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
  </body>
</html>
